




/*--------------------------------------------------------------
# Course Details
--------------------------------------------------------------*/
.course-details__inner {
    position: relative;
    z-index: 1;
  }
  .course-details__title {
    margin-bottom: 23px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.333;
    text-transform: capitalize;
  }
  .course-details__title--description, .course-details__title--requirements {
    margin-bottom: 16px;
  }
  @media (max-width: 575px) {
    .course-details__title {
      font-size: 26px;
    }
  }
  @media (max-width: 430px) {
    .course-details__title {
      font-size: 24px;
    }
  }
  .course-details__info-wrapper {
    padding-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 45px;
    border-top: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  @media (max-width: 1199px) {
    .course-details__info-wrapper {
      gap: 20px 30px;
    }
  }
  .course-details__mentor {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .course-details__mentor__image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .course-details__mentor__name {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.625;
  }
  .course-details__mentor__name:hover {
    color: var(--eduhive-base, #674CEF);
  }
  .course-details__mentor__name a {
    color: inherit;
    background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
    transition: all 500ms ease;
  }
  .course-details__mentor__name a:hover {
    background-size: 100% 1px;
  }
  .course-details__class {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .course-details__class__icon {
    display: inline-flex;
    flex-shrink: 0;
    font-size: 20px;
    color: var(--eduhive-base, #674CEF);
  }
  .course-details__class__icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-details__class__text {
    margin: 0;
    font-size: 16px;
    color: var(--eduhive-black, #20104B);
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.625;
  }
  .course-details__review {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .course-details__review__icon {
    display: inline-flex;
    flex-shrink: 0;
    font-size: 18px;
    color: var(--eduhive-primary, #EF802E);
  }
  .course-details__review__icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-details__review__text {
    margin: 0;
    font-size: 16px;
    color: var(--eduhive-black, #20104B);
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.625;
  }
  .course-details__image {
    position: relative;
    margin-bottom: 7px;
  }
  .course-details__image img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .course-details__category {
    display: inline-block;
    padding: 5px 10.5px;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--eduhive-white, #FFFFFF);
    text-transform: capitalize;
    line-height: 1.625;
    background-color: var(--eduhive-base, #674CEF);
    border-radius: 6px;
  }
  @media (max-width: 425px) {
    .course-details__category {
      top: 20px;
      left: 20px;
      font-size: 14px;
    }
  }
  .course-details__video-btn {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    font-size: 12px;
    color: var(--eduhive-primary, #EF802E);
    background-color: var(--eduhive-white, #FFFFFF);
  }
  @media (max-width: 425px) {
    .course-details__video-btn {
      width: 45px;
      height: 45px;
    }
  }
  .course-details__video-btn > span {
    border-color: var(--eduhive-white, #FFFFFF);
  }
  .course-details__video-btn:hover {
    color: var(--eduhive-white, #FFFFFF);
    background-color: var(--eduhive-primary, #EF802E);
  }
  .course-details__video-btn:hover > span {
    border-color: var(--eduhive-primary, #EF802E);
  }
  .course-details__main-tab-box {
    position: relative;
    display: block;
  }
  .course-details__main-tab-box .tab-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 71px;
    border-bottom: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  @media (max-width: 1199px) {
    .course-details__main-tab-box .tab-buttons {
      gap: 60px;
    }
  }
  @media (max-width: 575px) {
    .course-details__main-tab-box .tab-buttons {
      gap: 50px;
    }
  }
  @media (max-width: 390px) {
    .course-details__main-tab-box .tab-buttons {
      gap: 35px;
    }
  }
  @media (max-width: 360px) {
    .course-details__main-tab-box .tab-buttons {
      gap: 30px;
    }
  }
  .course-details__main-tab-box .tab-buttons .tab-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 19px 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--eduhive-black, #20104B);
    text-transform: capitalize;
    line-height: 1.265;
    z-index: 1;
    transition: all 500ms ease;
  }
  @media (max-width: 390px) {
    .course-details__main-tab-box .tab-buttons .tab-btn {
      font-size: 15px;
    }
  }
  @media (max-width: 360px) {
    .course-details__main-tab-box .tab-buttons .tab-btn {
      font-size: 14px;
    }
  }
  .course-details__main-tab-box .tab-buttons .tab-btn:hover {
    color: var(--eduhive-base, #674CEF);
  }
  .course-details__main-tab-box .tab-buttons .tab-btn:hover::after {
    transform: scaleX(1);
  }
  .course-details__main-tab-box .tab-buttons .tab-btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: var(--eduhive-base, #674CEF);
    transition: all 500ms ease;
  }
  .course-details__main-tab-box .tab-buttons .tab-btn.active-btn {
    color: var(--eduhive-base, #674CEF);
  }
  .course-details__main-tab-box .tab-buttons .tab-btn.active-btn::after {
    transform: scaleX(1);
  }
  .course-details__main-tab-box .tabs-content {
    margin-top: 21px;
    position: relative;
    display: block;
  }
  .course-details__main-tab-box .tabs-content .tab {
    position: relative;
    display: none;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 10;
  }
  .course-details__main-tab-box .tabs-content .tab.active-tab {
    display: block;
    /*! margin-top: 0px; */
  }
  .course-details__description {
    margin-bottom: 23px;
  }
  .course-details__description__text {
    margin: 0;
    font-weight: 400;
  }
  .course-details__description__text + .course-details__description__text {
    margin-top: 12px;
  }
  .course-details__requirements__text {
    margin-bottom: 32px;
    font-weight: 400;
  }
  .course-details__requirements__list {
    margin: 0;
  }
  .course-details__requirements__list li + li {
    margin-top: 20px;
  }
  .course-details__requirements__list li {
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--eduhive-text, #7B7980);
  }
  .course-details__requirements__list__icon {
    position: relative;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: var(--eduhive-base, #674CEF);
    border: 1px solid var(--eduhive-base, #674CEF);
    border-radius: 50%;
    transition: all 500ms ease;
  }
  .course-details__requirements__list__icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-details__accordion {
    margin-top: 31px;
  }
  .course-details__accordion .accordion {
    background-color: var(--eduhive-white, #FFFFFF);
    border: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  .course-details__accordion .accordion + .accordion {
    margin-top: 30px;
  }
  .course-details__accordion .accordion-title {
    padding: 23.5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
    overflow: hidden;
  }
  @media (max-width: 390px) {
    .course-details__accordion .accordion-title {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .course-details__accordion .accordion-title h4 {
    margin: 0;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    transition: all 500ms ease;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .course-details__accordion .accordion-title h4 {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .course-details__accordion .accordion-title h4 {
      font-size: 18px;
    }
  }
  .course-details__accordion .accordion-title__icon {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--eduhive-base, #674CEF);
    border-radius: 50%;
  }
  .course-details__accordion .accordion-title__icon::after {
    content: "\e937";
    font-family: "icomoon" !important;
    font-size: 16px;
    color: var(--eduhive-white, #FFFFFF);
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 500ms ease;
  }
  .course-details__accordion .active .accordion-title {
    border-bottom: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  .course-details__accordion .active .accordion-title__icon::after {
    content: "\e936";
  }
  .course-details__accordion .inner {
    padding: 0 30px;
  }
  @media (max-width: 390px) {
    .course-details__accordion .inner {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .course-details__accordion__class {
    padding: 21px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px 30px;
  }
  @media (max-width: 575px) {
    .course-details__accordion__class {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .course-details__accordion__class:not(:last-child) {
    border-bottom: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  .course-details__accordion__class__icon {
    display: inline-flex;
    font-size: 16px;
    color: var(--eduhive-text, #7B7980);
    transition: all 500ms ease;
  }
  .course-details__accordion__class__icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-details__accordion__class__title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: var(--eduhive-text, #7B7980);
    font-weight: 400;
    line-height: 1.25;
    transition: all 500ms ease;
  }
  .course-details__accordion__class:hover .course-details__accordion__class__icon, .course-details__accordion__class:hover .course-details__accordion__class__title {
    color: var(--eduhive-base, #674CEF);
  }
  .course-details__accordion__class__right {
    display: flex;
    align-items: center;
  }
  @media (max-width: 575px) {
    .course-details__accordion__class__right {
      width: 100%;
      gap: 40px;
      justify-content: space-between;
    }
  }
  .course-details__accordion__class__duration {
    flex-shrink: 0;
    margin-right: 144px;
    display: inline-block;
    min-width: 80px;
    padding: 6.5px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: var(--eduhive-base, #674CEF);
    line-height: 1.25;
    background-color: RGBA(var(--eduhive-base-rgb, 103, 76, 239), 0.1);
    border-radius: 5px;
  }
  @media (max-width: 1199px) {
    .course-details__accordion__class__duration {
      margin-right: 40px;
    }
  }
  @media (max-width: 991px) {
    .course-details__accordion__class__duration {
      margin-right: 60px;
    }
  }
  @media (max-width: 767px) {
    .course-details__accordion__class__duration {
      margin-right: 40px;
    }
  }
  @media (max-width: 575px) {
    .course-details__accordion__class__duration {
      margin: 0;
    }
  }
  .course-details__accordion__class__check {
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    color: var(--eduhive-text, #7B7980);
    transition: all 500ms ease;
  }
  .course-details__accordion__class__check svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-details__accordion__class__check.complete {
    color: var(--eduhive-base, #674CEF);
  }
  .course-details__comments {
    padding-top: 33px !important;
  }
  .course-details__comments .comments-one__title {
    margin-bottom: 54px !important;
    font-size: 24px !important;
  }
  .course-details__comments .eduhive-ratings__icon {
    color: var(--eduhive-primary, #EF802E);
  }
  .course-details__form {
    position: relative;
    margin-top: 60px;
    padding-top: 54px;
    padding-bottom: 60px;
    background-color: var(--eduhive-white2, #EDEAF4);
  }
  .course-details__form::before {
    content: "";
    width: 10000px;
    height: 100%;
    background-color: var(--eduhive-white2, #EDEAF4);
    position: absolute;
    top: 0;
    left: -10000px;
  }
  .course-details__form::after {
    content: "";
    width: 10000px;
    height: 100%;
    background-color: var(--eduhive-white2, #EDEAF4);
    position: absolute;
    top: 0;
    right: -10000px;
  }
  .course-details__form__top {
    position: relative;
    z-index: 1;
    margin-bottom: 37px;
  }
  .course-details__form__title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.233;
  }
  .course-details__form__text {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .course-details__form__ratings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 18px;
  }
  @media (max-width: 1599px) {
    .course-details__form__ratings {
      gap: 20px;
    }
  }
  .course-details__form__ratings__text {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 0;
  }
  .course-details__form__ratings .eduhive-ratings__icon {
    color: var(--eduhive-primary, #EF802E);
  }
  .course-details__form__form {
    position: relative;
    z-index: 1;
  }
  .course-details__form__group {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  @media (min-width: 768px) {
    .course-details__form__group {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 992px) {
    .course-details__form__group {
      grid-template-columns: 1fr;
    }
  }
  @media (min-width: 1200px) {
    .course-details__form__group {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .course-details__form__control--full {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .course-details__form input[type=text],
  .course-details__form input[type=email],
  .course-details__form textarea {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: var(--eduhive-font, "Plus Jakarta Sans", sans-serif);
    color: var(--eduhive-text, #7B7980);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 18px;
    background-color: transparent;
    border-bottom: 1px solid var(--eduhive-border-color, #DBD8E6);
    transition: all 400ms ease;
  }
  .course-details__form input[type=text]:focus,
  .course-details__form input[type=email]:focus,
  .course-details__form textarea:focus {
    color: var(--eduhive-black, #20104B);
    border-color: var(--eduhive-base, #674CEF);
  }
  .course-details__form textarea {
    border: 1px solid transparent;
    height: 143px;
    padding: 13px 21px 0;
    background-color: var(--eduhive-white, #FFFFFF);
    border-radius: 10px;
  }
  .course-details__form textarea:focus {
    border-color: var(--eduhive-base, #674CEF);
  }
  .course-details__info {
    margin-top: 8px;
    padding: 30px 30px 39px;
    border-radius: 10px;
    border: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  @media (max-width: 390px) {
    .course-details__info {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .course-details__info__title {
    margin-bottom: 23px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.458;
  }
  @media (max-width: 575px) {
    .course-details__info__title {
      font-size: 22px;
    }
  }
  .course-details__info__list {
    margin-bottom: 33px;
  }
  .course-details__info__list li {
    padding-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  .course-details__info__list li:first-child {
    border-top: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  .course-details__info__icon {
    position: relative;
    top: -1px;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 20px;
    color: var(--eduhive-base, #674CEF);
  }
  .course-details__info__icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-details__info__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .course-details__info__text__title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: var(--eduhive-black, #20104B);
  }
  .course-details__info__price {
    margin-bottom: 22px;
    padding: 13px 14px;
    font-size: 16px;
    font-weight: 600;
    color: var(--eduhive-base, #674CEF);
    text-align: center;
    text-transform: capitalize;
    border: 1px solid var(--eduhive-base, #674CEF);
    border-radius: 8px;
  }
  .course-details__info__btn {
    width: 100%;
    padding: 14px 18px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
  }
  .course-details__info__btn .eduhive-btn__icon {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
  }
  .course-details__info__btn .eduhive-btn__icon__inner {
    font-size: 16px;
    color: var(--eduhive-white, #FFFFFF);
  }
  .course-details__info__btn:hover .eduhive-btn__icon__inner {
    color: var(--eduhive-white, #FFFFFF);
  }
  .course-details__social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 17px;
  }
  .course-details__social__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
  }
  .course-details__social .social-links-two {
    gap: 9px;
  }
  .course-details__social .social-links-two a {
    border-color: var(--eduhive-base, #674CEF);
  }
  .course-details__social .social-links-two__icon {
    color: var(--eduhive-base, #674CEF);
  }
  
  .course-instructor-details__inner {
    padding: 30px;
    display: grid;
    grid-template-columns: 370px auto;
    align-items: center;
    grid-gap: 30px;
    border-radius: 12px;
    border: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  @media (max-width: 991px) {
    .course-instructor-details__inner {
      grid-template-columns: auto;
    }
  }
  @media (max-width: 390px) {
    .course-instructor-details__inner {
      padding: 25px;
    }
  }
  .course-instructor-details__image {
    position: relative;
    width: 100%;
    max-width: 370px;
  }
  .course-instructor-details__image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }
  .course-instructor-details__name {
    margin-bottom: 13px;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.233;
  }
  @media (max-width: 575px) {
    .course-instructor-details__name {
      font-size: 26px;
    }
  }
  @media (max-width: 412px) {
    .course-instructor-details__name {
      font-size: 22px;
    }
  }
  .course-instructor-details__designation {
    margin-bottom: 19px;
    font-weight: 400;
    line-height: 1.625;
    text-transform: capitalize;
  }
  .course-instructor-details__text {
    margin-bottom: 30px;
    font-weight: 400;
  }
  .course-instructor-details__course-info {
    margin-bottom: 40px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 42px;
    border-top: 1px solid var(--eduhive-border-color, #DBD8E6);
    border-bottom: 1px solid var(--eduhive-border-color, #DBD8E6);
  }
  @media (max-width: 1199px) {
    .course-instructor-details__course-info {
      gap: 15px 30px;
    }
  }
  .course-instructor-details__experience, .course-instructor-details__students__text, .course-instructor-details__review__text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--eduhive-black, #20104B);
    line-height: 1.75;
    text-transform: capitalize;
  }
  .course-instructor-details__students {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .course-instructor-details__students__icon {
    display: inline-flex;
    font-size: 16px;
    color: var(--eduhive-black, #20104B);
  }
  .course-instructor-details__students__icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-instructor-details__review {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .course-instructor-details__review__icon {
    display: inline-flex;
    font-size: 16px;
    color: var(--eduhive-primary, #EF802E);
  }
  .course-instructor-details__review__icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .course-instructor-details__social {
    gap: 9px;
  }
  .course-instructor-details__social a {
    border-color: var(--eduhive-base, #674CEF);
  }
  .course-instructor-details__social .social-links-two__icon {
    color: var(--eduhive-base, #674CEF);
  }